- if @user
  %div.jumbotron
    %h2= "#{@user.email} #{'favorite'.pluralize(movies.count)} #{'movies'.pluralize(movies.count)}"

%ul#movies
  - movies.each do |movie|
    %li
      %div
      %article.movie
        %header
          = movie.image_for(:thumb)
          %h2
            #{link_to(movie.title, movie)} (#{(movie.released_on.year)})
          %p
            = movie.reviews_link
            | #{movie.fans_count}  #{movie.toggle_favorite_link}

            %div.fans
              - movie.fans.each do |fan|
                = fan
          %h3= movie.cast
        %p
          = truncate(movie.description, length: 150, separator: ' ')

        %table
          %tr
            %th Rating
            %td= movie.rating
          %tr
            %th Duration
            %td= movie.duration
          %tr
            %th Total Gross
            %td= movie.format_total_gross
          %tr
            %th Average stars
            %td= movie.format_average_stars
