<ul id="movies">
  <% @movies.each do |movie| %>
    <li>
      <div>
      <article class="movie">
        <header>
          <%= image_for(movie,:thumb) %>
          <h2><%= link_to movie.title, movie %>(<%= movie.released_on.year %>)</h2>
          <p> <%=link_to(pluralize(movie.reviews.size,"review"),movie_reviews_path(movie)) %></p> 
          <h3><%= movie.cast %></h3>
        </header>
        <p>
          <%= truncate(movie.description, length: 150, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>Rating</th>
            <td><%= movie.rating %></td>
          </tr>
          <tr>
            <th>Duration</th>
            <td><%= movie.duration %></td>
          </tr>
          <tr>
            <th>Total Gross</th>
            <td><%= format_total_gross(movie) %></td>
          </tr>
          <tr>
            <th>Average stars</th>
            <td><%= format_average_stars(movie) %></td>
          </tr>
        </table>
        <footer>
        </footer>
      </article>
    </div>
    </li>
  <% end %>
</ul>
