- if @user
  %div.jumbotron
    %h2= "#{@user.email} #{'favorite'.pluralize(@movies.count)} #{'movies'.pluralize(@movies.count)}"

%ul#movies
  - @movies.each do |movie|
    %li
      %div
      %article.movie
        %header
          = image_for(movie,:thumb)
          %h2 #{link_to(movie.title, movie)} (#{(movie.released_on.year)})
          %p= link_to(pluralize(movie.reviews.size,"review"), movie_reviews_path(movie))
          %h3= movie.cast
        %p
          = truncate(movie.description, length: 150, separator: ' ')

        %table
          %tr
            %th Rating
            %td= movie.rating
          %tr
            %th Duration
            %td= movie.duration
          %tr
            %th Total Gross
            %td= format_total_gross(movie)
          %tr
            %th Average stars
            %td= format_average_stars(movie)
