.panel.panel-primary
  .panel-heading
    = title
  .panel-body
    = simple_form_for([movie, review]) do |f|
      = f.error_notification
      = f.input :name
      = f.input :stars, collection: Review::STARS, as: :radio_buttons, item_label_class: "radio-inline", item_wrapper_tag: false
      = f.input :comment
      = f.button :submit


