!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Movie Maniac
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render "layouts/header"
    .container
      #wrapper
        = render "layouts/flashes"
        .row
          .col-md-2.col-md-offset-1
            %section
              = render "layouts/sidebar"
          .col-md-6
            %section
              = yield
    = render "layouts/footer"
